<table class="w3-centered" width="300px">
    <tr>
    <th>Links</th><th>Beide</th><th>Rechts</th>
    </tr>
    <tr>
        <td><label class="w3-button w3-green">&xwedge;</label></td>
        <td><label class="w3-button w3-green">&xwedge;</label></td>
        <td><label class="w3-button w3-green">&xwedge;</label></td>
    </tr>
    <tr>
        <td><label class="w3-button w3-red">&boxtimes;</label></td>
        <td><label class="w3-button w3-red">&boxtimes;</label></td>
        <td><label class="w3-button w3-red">&boxtimes;</label></td>
    </tr>
    <tr>
        <td><label class="w3-button w3-green">&xvee;</label></td>
        <td><label class="w3-button w3-green">&xvee;</label></td>
        <td><label class="w3-button w3-green">&xvee;</label></td>
    </tr>
    <tr>
        <td><input class="w3-input w3-border" type="number" width="5em" min="0" max="100"></td>
        <td>&nbsp;</td>
        <td><input class="w3-input w3-border" type="number" width="5em" min="0" max="100"></td>
    </tr>
</table>

