<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>Motorsteuerung (Offline)</title>
    <script src="{{ url_for('static', filename='htmx.min.js') }}"></script>
    <script src="{{ url_for('static', filename='htmx-ws.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='w3.css') }}">
</head>
<body hx-ext="ws" ws-connect="/ws">
    <h1>Motorsteuerung</h1>
    {% include "buttonrow.html" %}
    <div id="status" ws-replace>
        {% include "status.html" %}
    </div>

</body>
</html>
